{% extends "layout.html" %}

{% block content %}
    <h6 class="float-left">*All ratings are out of 10*</h6>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Movie Name</th>
            <th scope="col">Movie Length</th>
            <th scope="col">Genre</th>
            <th scope="col">Personal Rating</th>
            <th scope="col">IMBD Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><a href="https://www.imdb.com/title/tt2798920/">Annihilation</a></th>
            <td>1h 55min</td>
            <td>Sci-fi, Thriller</td>
            <td>8.0</td>
            <td>6.9</td>
        </tr>
        <tr>
            <th scope="row"><a href="https://www.imdb.com/title/tt0462538/?ref_=nv_sr_2">Simpsons Movie</a></th>
            <td>1h 27min</td>
            <td> Animation, Adventure, Comedy</td>
            <td>7.0</td>
            <td>7.3</td>
        </tr>
        <tr>
            <th scope="row"><a href="https://www.imdb.com/title/tt7349662/?ref_=nv_sr_1">BlacKkKlansman</a></th>
            <td>2h 15min</td>
            <td>Biography, Crime, Drama </td>
            <td>8.0</td>
            <td>7.5</td>
        </tr>
        <tr>
            <th scope="row"><a href="https://www.imdb.com/title/tt3606756/?ref_=nv_sr_1">Incredibles 2</a></th>
            <td>1h 58min/td>
            <td>Animation, Action, Adventure </td>
            <td>6.5</td>
            <td>7.8</td>
        </tr>
        <tr>
            <th scope="row"><a href="https://www.imdb.com/title/tt6644200/?ref_=nv_sr_1">A Quiet Place</a></th>
            <td>1h 30min</td>
            <td>Drama, Horror, Mystery</td>
            <td>9.2</td>
            <td>7.6</td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>


{% endblock %}
